@media screen and (min-width: 751px) {
  .sp {
    display: none !important;
  }

  [href^=tel] {
    pointer-events: none;
  }

  .no-scroll {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-overflow-scrolling: auto;
  }

  .btns-fix .bns-email {
    transition: all 0.5s ease;
    z-index: 0;
    overflow: hidden;
  }
  .btns-fix .bns-email::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0364b9;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }
  .btns-fix .bns-email:hover {
    color: #fff;
  }
  .btns-fix .bns-email:hover::before {
    transform: translateX(0);
  }

  .menu-list > li {
    text-align: center;
    padding-bottom: 28px;
  }
  .menu-list > li:hover > a,
.menu-list > li:hover > span {
    color: #2fa2de;
  }
  .menu-list > li:hover .mu-en {
    color: #333333;
  }
  .menu-list > li > a,
.menu-list > li > span {
    font-size: 15px;
    font-weight: bold;
    padding: 16px 30px 6px 31px;
    display: block;
    border-left: 1px solid #eaeaea;
  }
  .menu-list > li > a {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: 1.2px;
  }

  .dropdown:hover .sub-menu {
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  .dropdown > span {
    pointer-events: none;
  }

  .sub-menu {
    position: fixed;
    top: 120px;
    left: 0;
    right: 0px;
    min-height: 260px;
    padding: 64px 0 30px;
    transition: all 0.5s ease;
    transform: translateY(20px);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    background-color: #0364b9;
    color: #fff;
  }

  .sub-wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }

  .sb-m {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .sb-m li {
    width: 46%;
    text-align: left;
  }
  .sb-m a {
    padding: 17px 34px 17px 15px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    width: max-content;
  }
  .sb-m a::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 0;
    background: url("../images/ic-right1.png") center no-repeat;
    background-size: contain;
    width: 15px;
    height: 6px;
    transition: all 0.3s ease;
  }
  .sb-m a:hover::after {
    right: 5px;
  }
}
/* end screen-min:751px */
@media screen and (min-width: 751px) and (max-height: 700px) {
  .btns-fix {
    top: 30%;
  }
}
@media screen and (min-width: 751px) and (max-width: 1680px) {
  #header {
    padding: 31px 0 26px;
  }
  #header .logo {
    width: 250px;
  }

  .menu-list > li > a,
.menu-list > li > span {
    padding: 10px 17px;
  }

  .header-menu .mu-en {
    margin-top: 8px;
  }

  .index-visual .vis-box {
    width: 1050px;
    height: 1050px;
  }

  .drainage-pipe .pipe-wrapper {
    width: 1230px;
  }
  .drainage-pipe .pipe-ig {
    width: 55%;
  }
  .drainage-pipe .pige-bxig {
    width: calc((100vw - 1230px) / 2 + 100%);
    margin-left: calc((100vw - 1200px) / -2);
  }
  .drainage-pipe .pipe-label {
    margin-top: 0;
  }
  .drainage-pipe .pipe-txt {
    width: 45%;
  }
  .drainage-pipe .pipe-title {
    font-size: 27px;
    margin-bottom: 15px;
  }
  .drainage-pipe .pipe-desc {
    margin-bottom: 15px;
  }
  .drainage-pipe .pipe-tx {
    margin-bottom: 30px;
  }
  .drainage-pipe .pipe-btn {
    row-gap: 20px;
    column-gap: 0;
  }
  .drainage-pipe .pipe-list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
  }

  .sterength::before {
    transform: scale(0.7);
    transform-origin: left;
  }
  .sterength::after {
    transform: scale(0.7);
    transform-origin: right;
  }

  .greeting::after {
    font-size: 11.6vw;
    top: -22px;
  }

  .professional .profess-bf {
    font-size: 11.6vw;
  }

  .endoscope .scope-ltm {
    padding-left: 90px;
  }
  .endoscope .scope-rtm {
    padding-right: 40px;
  }

  .report .rpt-bx1 .report-bf {
    font-size: 6.5vw;
  }
  .report .rpt-bx1 .report-tt {
    margin-left: 80px;
  }
  .report .rpt-bx2 .report-bf {
    font-size: 7vw;
  }
  .report .rpt-bx2 .report-tt {
    margin-right: 80px;
  }
}
@media screen and (min-width: 751px) and (max-width: 1439px) {
  #header {
    height: 100px;
    padding: 20px 0;
  }
  #header .logo {
    width: 220px;
  }

  .menu-list > li {
    padding-bottom: 21px;
  }
  .menu-list > li > a,
.menu-list > li > span {
    padding: 8px 10px;
  }

  .sub-menu {
    top: 100px;
    min-height: 200px;
    padding: 40px 0 30px;
  }

  .index-visual {
    height: 800px;
  }
  .index-visual .vis-box {
    width: 920px;
    height: 920px;
    top: -70px;
  }
  .index-visual .vis-img {
    background-position: -250px 60px;
  }
  .index-visual .vis-label span {
    letter-spacing: 2px;
  }
  .index-visual .vis-title {
    font-size: 46px;
    letter-spacing: 4px;
    line-height: 1.4;
  }
  .index-visual .vis-ft {
    width: 600px;
  }
  .index-visual .vis-ft a {
    font-size: 16px;
    padding: 15px;
  }

  .drainage-pipe {
    padding: 100px 0 60px;
  }
  .drainage-pipe .pipe-img {
    height: auto;
  }
  .drainage-pipe .pipe-img img {
    height: auto;
  }
}
/* end screen-min:751px && screen-max:1500px */
@media screen and (min-width: 751px) and (max-width: 1280px) {
  .greeting::after {
    font-size: 148px;
  }

  .professional .profess-bf {
    font-size: 148px;
  }

  .report .rpt-bx1 .report-bf {
    font-size: 83px;
  }
  .report .rpt-bx2 .report-bf {
    font-size: 90px;
  }
}
@media screen and (max-width: 750px) {
  body {
    font-size: 14px;
  }

  [href^=tel]:hover {
    color: unset !important;
  }

  #wrapper {
    min-width: unset !important;
  }

  .container {
    width: 100%;
    padding: 0 15px;
  }

  .pc {
    display: none !important;
  }

  #main {
    margin-top: 70px;
  }

  .open-nav #header {
    border-bottom: 1px solid #2fa2de;
  }
  .open-nav .header-menu {
    top: 70px;
  }

  .hamburger-btn {
    display: block;
  }

  .scroll-top {
    bottom: 126px;
    right: 12px;
  }

  .btns-fix {
    width: 100%;
    bottom: 0;
    top: unset;
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
  .btns-fix.--active {
    opacity: 1;
    visibility: visible;
  }
  .btns-fix .bns-list {
    display: flex;
  }
  .btns-fix li {
    width: 50%;
    padding: 7px 10px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .btns-fix li:nth-child(1) {
    margin: 0;
    border: none;
    border-right: 2px solid #2fa2de;
  }
  .btns-fix li:nth-child(2) {
    border-left: 2px solid #2fa2de;
  }
  .btns-fix .bns-img img {
    width: 34px;
    height: 34px;
  }
  .btns-fix .bns-phone {
    font-size: 20px;
  }
  .btns-fix .bns-ds {
    font-size: 12px;
  }
  .btns-fix .bns-tt {
    font-size: 15px;
  }

  .btn {
    width: 260px;
    height: 50px;
    padding: 5px 20px;
  }

  #header {
    height: 70px;
    padding: 10px 0;
  }
  #header h1 {
    display: none;
  }
  #header .logo {
    width: 200px;
  }
  #header .logo a {
    transform: translate(0);
  }

  .header-wrap {
    padding: 0 15px;
    height: 100%;
  }

  .header-main {
    align-items: center;
    height: 100%;
  }

  .header-menu {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: all 0.3s ease;
    z-index: 99;
    background-color: rgba(30, 44, 99, 0.7);
    background-color: #fff;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 70px);
    padding-bottom: 30px;
  }
  .header-menu .mu-en {
    margin-top: 5px;
    font-size: 12px;
  }

  .sub-txt {
    display: none;
  }

  .menu-list {
    display: block;
    margin-bottom: 30px;
  }
  .menu-list > li > a,
.menu-list > li > span {
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
    font-weight: bold;
    color: #004680;
    padding: 8px 40px 8px 15px;
    width: 100%;
    display: block;
    position: relative;
  }

  .dropdown .open::before {
    transform: translateY(-50%) rotate(-45deg);
  }
  .dropdown span::before {
    content: "";
    border: 0px solid #2fa2de;
    border-width: 0 2px 2px 0;
    width: 9px;
    height: 9px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.3s ease;
  }

  .sub-menu {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    padding: 10px 20px;
    border-bottom: 1px solid #ebebeb;
  }
  .sub-menu a,
.sub-menu span {
    padding: 6px 16px;
    position: relative;
  }
  .sub-menu a::after,
.sub-menu span::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    width: 10px;
    height: 1px;
    background-color: #004680;
  }

  .header-act {
    padding: 0 15px;
  }

  .act-list {
    display: block;
    max-width: 350px;
    margin: 0 auto;
  }
  .act-list li {
    width: 100%;
    text-align: center;
    background-color: #fff;
    position: relative;
    padding: 15px 11px 15px 7px;
    margin-bottom: 20px;
  }
  .act-list li:last-child {
    margin-bottom: 0;
  }
  .act-list .act-tel,
.act-list .act-email {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #eaeaea;
  }
  .act-list .act-img {
    margin-bottom: 3px;
    line-height: 0;
  }
  .act-list .act-phone {
    font-size: 28px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: -1px;
    line-height: 1;
  }
  .act-list .act-ds {
    font-size: 14px;
    letter-spacing: 1.2px;
  }
  .act-list .act-tt {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .act-list .act-tt2 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  #footer {
    padding-bottom: 84px;
  }
  #footer .copyright {
    padding: 20px 0;
  }

  .footer-mid {
    padding: 40px 0;
  }
  .footer-mid .fm-menu {
    display: none;
  }
  .footer-mid .fm-txt {
    width: 100%;
    text-align: center;
  }
  .footer-mid .fm-tell .fm-tell-lk {
    font-size: 26px;
  }
  .footer-mid .fm-tell .fm-tell-lk::before {
    width: 18px;
    height: 18px;
  }
  .footer-mid .fm-contact {
    height: 70px;
  }
  .footer-mid .fm-contact .fm-bz {
    font-size: 20px;
    transform: none;
  }

  .index-visual {
    padding: 40px 0;
    height: auto;
    background-image: url("../images/bg-mainvis-top-sp.png");
  }
  .index-visual .vis-txt {
    justify-content: flex-start;
    margin-bottom: 0px;
    padding-bottom: 30px;
    z-index: 2;
    background-color: #19a0d9;
  }
  .index-visual .vis-txt::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -15px;
    width: 100vw;
    height: 100px;
    background-color: #19a0d9;
    z-index: -1;
  }
  .index-visual .vis-label {
    margin-bottom: 10px;
  }
  .index-visual .vis-label span {
    font-size: 4vw;
    padding: 7px 20px 8px;
    letter-spacing: 2px;
  }
  .index-visual .vis-title {
    font-size: 7.5vw;
    line-height: 1.4;
    letter-spacing: 3px;
  }
  .index-visual .vis-box {
    position: relative;
    top: 0;
    right: -50px;
    margin-left: auto;
    width: 120vw;
    height: 120vw;
    margin-bottom: 30px;
    margin-top: -100px;
  }
  .index-visual .vis-box::before {
    width: 100%;
    height: 100%;
    top: 46px;
    left: 20px;
  }
  .index-visual .vis-img {
    background-size: 100% 100%;
    background-position: right 120px top;
  }
  .index-visual .vis-ft {
    position: relative;
    left: -15px;
    top: 0;
    max-width: 100%;
    height: 50px;
  }
  .index-visual .vis-ft a {
    padding: 10px 15px;
    font-size: 14px;
  }
  .index-visual .vis-ft a::before {
    margin-right: 5px;
  }

  .drainage-pipe {
    padding: 40px 0;
  }
  .drainage-pipe .pipe-ig {
    display: none;
  }
  .drainage-pipe .pipe-txt {
    width: 100%;
  }
  .drainage-pipe .pipe-label {
    margin-top: 0;
  }
  .drainage-pipe .pipe-label span {
    font-size: 14px;
  }
  .drainage-pipe .pipe-label span::before {
    border-width: 8px 7px 0 7px;
  }
  .drainage-pipe .pipe-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .drainage-pipe .pipe-desc {
    margin-bottom: 20px;
  }
  .drainage-pipe .pipe-btn {
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    row-gap: 20px;
  }
  .drainage-pipe .pipe-tx {
    margin-bottom: 30px;
  }
  .drainage-pipe .pipe-tt {
    transform: none;
  }
  .drainage-pipe .pipe-tt span {
    font-size: 16px;
    padding: 0 12px;
  }
  .drainage-pipe .pipe-tt span::before {
    left: -30px;
    right: -30px;
  }
  .drainage-pipe .pipe-list {
    transform: none;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center;
    margin: 0 auto;
    row-gap: 10px;
  }
  .drainage-pipe .pipe-list a {
    font-size: 16px;
  }

  .sterength {
    padding: 20px 0 40px;
  }
  .sterength::before {
    display: none;
  }
  .sterength::after {
    transform: scale(0.6);
    transform-origin: top right;
    top: -50px;
  }
  .sterength .stere-wrapper {
    flex-wrap: wrap;
  }
  .sterength .stere-txt {
    width: 100%;
    transform: translate(0);
  }
  .sterength .stere-sm {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .sterength .stere-bm {
    font-size: 40px;
  }
  .sterength .stere-title {
    margin-bottom: 30px;
  }
  .sterength .stere-act {
    margin-bottom: 30px;
  }
  .sterength .stere-g {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    width: 610px;
  }
  .sterength .stere-ig {
    width: 100%;
    height: 602px;
    background-position: center;
    padding: 0;
    margin: 0 auto 20px;
    padding: 51px 20px 20px 49px;
    background-size: 100% 100%;
  }
  .sterength .stere-slider {
    width: 430px;
    height: auto;
  }
  .sterength .stere-item {
    padding: 20px;
  }
  .sterength .stere-img {
    margin-bottom: 15px;
  }
  .sterength .stere-img img {
    height: auto;
  }
  .sterength .stere-stt {
    font-size: 40px;
  }
  .sterength .stere-tt {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .sterength .stere-desc {
    -webkit-line-clamp: 6;
  }

  .greeting::after {
    display: none;
  }
  .greeting::before {
    display: none;
  }
  .greeting .greet-txt {
    width: 100%;
    padding: 40px 0 20px;
  }
  .greeting .greet-title {
    margin-bottom: 15px;
  }
  .greeting .greet-desc {
    padding: 0;
  }
  .greeting .greet-jp {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .greeting .greet-ig {
    width: 100%;
  }
  .greeting .greet-ig::before {
    content: "";
    position: absolute;
    top: 0%;
    right: -15px;
    width: 60%;
    height: 100%;
    background-image: url("../images/greetings-img02.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    z-index: -1;
    clip-path: polygon(60% 0, 100% 0%, 100% 100%, 0% 100%);
  }
  .greeting .greet-img {
    position: static;
    margin-left: auto;
    padding-left: 50px;
    transform: translateX(50px);
  }
  .greeting .greet-img img {
    height: auto;
    margin-left: auto;
    display: block;
  }
  .greeting .greet-btn {
    right: unset;
    left: 0;
    top: 50%;
  }

  .professional {
    padding: 40px 0;
  }
  .professional .profess-bf {
    display: none;
  }
  .professional .profess-ig {
    display: none;
  }
  .professional .profess-txt {
    padding: 0;
    width: 100%;
  }
  .professional .profess-sm {
    font-size: 14px;
  }
  .professional .profess-bm {
    font-size: 20px;
  }
  .professional .profess-wrapper {
    margin-bottom: 30px;
  }
  .professional .profess-list {
    max-width: 400px;
    margin: 0 auto 40px;
    padding: 0;
  }
  .professional .profess-list li {
    width: 100%;
    border: none;
    padding: 15px;
  }
  .professional .profess-ic {
    margin: 0 0 12px;
    height: auto;
  }
  .professional .profess-ic img {
    transform: scale(0.9);
  }
  .professional .profess-tt {
    font-size: 16px;
  }

  .contacts {
    padding: 40px 0;
  }
  .contacts::after {
    display: none;
  }
  .contacts .contacts-txt {
    width: 100%;
    margin-bottom: 20px;
  }
  .contacts .contacts-title {
    margin-bottom: 12px;
  }
  .contacts .contacts-jp {
    font-size: 24px;
    letter-spacing: 2px;
  }
  .contacts .contacts-desc {
    font-size: 14px;
  }
  .contacts .contacts-btn {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: none;
    column-gap: 0;
  }
  .contacts .contacts-tel {
    margin-bottom: 20px;
    width: 340px;
    height: 90px;
  }
  .contacts .tls-tt {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .contacts .tls-phone {
    font-size: 30px;
  }
  .contacts .tls-phone::before {
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }
  .contacts .contacts-email {
    width: 340px;
    height: 90px;
  }
  .contacts .contacts-email::before {
    width: 30px;
    height: 24px;
  }
  .contacts .eml-tt {
    font-size: 14px;
  }
  .contacts .eml-tt2 {
    font-size: 16px;
  }

  .trouble {
    padding: 40px 0;
    background-size: cover;
  }
  .trouble .trouble-title {
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .trouble .trouble-sm {
    font-size: 14px;
  }
  .trouble .trouble-bm {
    font-size: 20px;
    letter-spacing: 1.5px;
  }
  .trouble .trouble-list li {
    margin: 0 15px;
  }
  .trouble .trouble-item {
    width: 280px;
    height: 280px;
  }
  .trouble .trouble-img {
    transform: scale(0.8);
    margin-bottom: 0;
  }
  .trouble .trouble-tt {
    font-size: 16px;
  }
  .trouble .trouble-tt::after {
    width: 20px;
    margin-top: 10px;
  }

  .endoscope {
    padding: 40px 0;
  }
  .endoscope .scope-title {
    margin-bottom: 30px;
  }
  .endoscope .scope-jp {
    font-size: 20px;
  }
  .endoscope .scope-content {
    flex-wrap: wrap;
    min-width: 100%;
    margin-bottom: 40px;
  }
  .endoscope .scope-item::before {
    display: none;
  }
  .endoscope .scope-item .scope-tt {
    font-size: 30px;
    margin-right: 20px;
    width: 70px;
    padding-top: 5px;
  }
  .endoscope .scope-item .scope-txt {
    width: calc(100% - 90px);
  }
  .endoscope .scope-item .scope-lable {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .endoscope .scope-item .scope-desc {
    margin-bottom: 20px;
  }
  .endoscope .scope-ltm {
    width: 100%;
    padding: 30px;
  }
  .endoscope .scope-rtm {
    width: 100%;
    padding: 30px;
    justify-content: flex-start;
  }
  .endoscope .scope-faq {
    flex-wrap: wrap;
    max-width: 100%;
    padding: 20px;
    height: auto;
  }
  .endoscope .scope-faq::after {
    display: none;
  }
  .endoscope .faq-lt {
    width: 100%;
    border: none;
    margin-bottom: 15px;
    padding: 0;
    display: block;
  }
  .endoscope .faq-rt {
    width: 100%;
    padding-left: 0;
  }
  .endoscope .fag-tt {
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  .endoscope .fag-tt::before {
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }
  .endoscope .faq-dsc {
    letter-spacing: 1.5px;
  }

  .report {
    padding: 0;
  }
  .report .report-title {
    margin-bottom: 30px;
    line-height: 1.4;
  }
  .report .report-jp {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .report .report-box {
    min-width: 100%;
  }
  .report .report-box .report-i {
    position: static;
    display: flex;
  }
  .report .report-box .report-i img {
    width: 100%;
    height: auto;
    max-height: 270px;
  }
  .report .report-box .report-tt {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
    margin: 0;
    letter-spacing: 1.5px;
    width: auto;
  }
  .report .report-ig {
    display: none;
  }
  .report .report-txt {
    position: static;
    clip-path: none !important;
  }
  .report .report-txt::before {
    z-index: 0;
  }
  .report .rpt-bx1 .report-txt {
    width: 100%;
  }
  .report .rpt-bx2 .report-txt {
    width: 100%;
  }

  .blogs {
    padding: 40px 0;
  }
  .blogs .blogs-head {
    margin-top: 0;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
  .blogs .blogs-bm {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .blogs .blogs-sm {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .blogs .blogs-txt {
    width: 100%;
    padding-left: 0;
  }
  .blogs .blogs-item {
    padding: 15px 0;
    flex-wrap: wrap;
  }
  .blogs .blogs-time {
    margin-right: 0;
    margin-bottom: 5px;
    width: 100%;
  }
  .blogs .blogs-tt {
    margin-top: 0;
    width: 100%;
  }

  .catalog-index {
    padding: 40px 0;
  }
  .catalog-index .cata-list {
    margin: 0 auto;
    max-width: 380px;
  }
  .catalog-index .cata-list li {
    margin-bottom: 15px;
    width: 100%;
  }
  .catalog-index .cata-list li:last-child {
    margin-bottom: 0;
  }
  .catalog-index .cata-img img {
    height: auto;
  }
}
/* end screen-max:750px */
@media screen and (max-width: 639px) {
  .sterength .stere-g {
    width: 490px;
  }
  .sterength .stere-ig {
    padding: 45px 20px 20px 41px;
    height: 548px;
  }
  .sterength .stere-slider {
    width: 346px;
  }
}
/* end screen-max:640px */
/* end screen-max:560px */
@media screen and (max-width: 519px) {
  .sterength .stere-g {
    width: 345px;
  }
  .sterength .stere-ig {
    padding: 33px 20px 20px 35px;
    height: 406px;
  }
  .sterength .stere-slider {
    width: 242px;
  }
  .sterength .stere-item {
    padding: 15px;
  }
  .sterength .stere-stt {
    font-size: 30px;
  }
  .sterength .stere-tt {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .sterength .stere-desc {
    padding: 0;
    -webkit-line-clamp: 5;
    line-height: 1.8;
  }
}
/* end screen-max:520px */
/* end screen-max:475px */
@media screen and (max-width: 425px) {
  .sp425 {
    display: block;
  }

  .index-visual {
    padding: 30px 0;
  }
  .index-visual .vis-txt {
    padding-bottom: 20px;
  }
  .index-visual .vis-label span {
    font-size: 16px;
    font-weight: 500;
  }
  .index-visual .vis-box {
    margin-top: -70px;
  }
  .index-visual .vis-img {
    background-position: right 56px top;
  }

  .drainage-pipe .pipe-list a {
    font-size: 14px;
    width: 108px;
    height: 108px;
  }
  .drainage-pipe .pipe-list a img {
    margin-bottom: 20px;
    transform: scale(0.8);
  }

  .sterength .stere-en {
    letter-spacing: 2px;
  }
  .sterength .stere-sm {
    font-size: 14px;
  }
  .sterength .stere-bm {
    font-size: 36px;
  }
  .sterength .stere-act {
    column-gap: 30px;
  }
  .sterength .stere-pagi {
    width: 90px;
    height: 90px;
  }
  .sterength .ste-pagi {
    font-size: 20px;
  }

  .greeting .greet-en {
    letter-spacing: 2px;
  }
  .greeting .btn {
    width: 200px;
  }
  .greeting .btn:first-child {
    margin-bottom: 15px;
  }

  .professional .profess-en {
    letter-spacing: 2px;
  }

  .contacts .contacts-en {
    letter-spacing: 2px;
  }

  .trouble .trouble-en {
    letter-spacing: 2px;
  }

  .endoscope .scope-en {
    letter-spacing: 2px;
  }
  .endoscope .scope-ltm {
    padding: 30px 15px;
  }
  .endoscope .scope-rtm {
    padding: 30px 15px;
  }
  .endoscope .scope-item .scope-tt {
    font-size: 25px;
    width: 60px;
    margin-right: 10px;
  }
  .endoscope .scope-item .scope-txt {
    width: calc(100% - 70px);
  }
  .endoscope .scope-faq {
    padding: 18px 15px;
  }

  .report .report-en {
    letter-spacing: 2px;
  }
  .report .report-box .report-i img {
    min-height: 170px;
  }
  .report .report-box .report-tt {
    left: 15px;
    right: 15px;
    font-size: 16px;
  }

  .catalog-index .cata-jp {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .catalog-index .cata-en {
    font-size: 12px;
    letter-spacing: 1.5px;
  }
}
/* end screen-max:425px */
@media screen and (max-width: 375px) {
  .sp375 {
    display: block;
  }
}
/* end screen-max:375px */
@media screen and (max-width: 320px) {
  .sterength .stere-g {
    width: 100%;
  }
  .sterength .stere-ig {
    padding: 29px 20px 20px 32px;
    height: 348px;
  }
  .sterength .stere-slider {
    width: 204px;
  }
  .sterength .stere-img {
    margin-bottom: 12px;
  }
  .sterength .stere-tt {
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-bottom: 7px;
  }
  .sterength .stere-desc {
    font-size: 12px;
  }

  .greeting .greet-jp {
    font-size: 18px;
  }

  .professional .profess-bm {
    font-size: 18px;
    letter-spacing: 2px;
  }

  .endoscope .scope-jp {
    font-size: 18px;
    letter-spacing: 2px;
  }
}
/* end screen-max:320px */
/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */

/*# sourceMappingURL=responsive.css.map */
