// Colors
$main-cl: #2fa2de;
$main-cl2: #19a0d9;
$main-cl3:#0364b9;
$b-cl: #000;
$w-cl: #fff;

// Font
$fz-cl: #333333;
$fz-base: 10px;
$fz-body: 16px;
$lh-body: 1.4;
$font-body: 'Noto Sans JP', sans-serif;
// $font-body: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
$roboto: 'Roboto', sans-serif;

// Base
$max-width:100%;
$container-full-width: 1920px;
$container-width: 1200px;
$padding: 15px;

