#topic-path {
    padding: 26px 0;
    padding-left: 3px;

    .topic-list {
        display: flex;
        flex-wrap: wrap;
    }

    li , a{
        font-size: 15px;
        letter-spacing: 1.4px;
    }

    li{
        position: relative;
        &::after{
            content: '＞';
            display: inline-block;     
            padding: 0 17px;       
        }

        &:first-child{
            a{
                color: $main-cl;
                text-transform: uppercase;
                border-bottom: 1px solid $main-cl;
                padding-bottom: 5px;
                margin-bottom: 2px;
                display: inline-block;
            }
        }

        &:last-child{
            &::after{
                display: none;
            }
        }
    }

    a { 
        &:hover{
            color: $main-cl3 !important;
        }
    }
}
